.vp-doc h1 {
  position: relative;
  padding-left: 45px;
}
.vp-doc h1 img {
  position: absolute;
  left: 0;
  top: 4px;
  height: 32px;
  overflow: hidden;
  clip: rect(0, 32px, 32px, 0);
}

.vp-doc h2 {
  border-top: 0 none;
}